@import "tailwindcss";

s.epilogue-font {
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.color-green{
 background-color: #009379;
}

* {
  box-sizing: border-box;
}